NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_RELAYER_URL=http://localhost:3001/verify
NEXT_PUBLIC_RELAYER_API_KEY=
NEXT_PUBLIC_WASM_URL=/circuits/entros_hamming.wasm
NEXT_PUBLIC_ZKEY_URL=/circuits/entros_hamming_final.zkey
